p {
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
    color: dark-grey;
    line-height: 6px;
    font-size: 16px;
}

h1 {
	text-align: center;
    font-family: Helvetica;
    font-weight: normal;
    color: dark-grey;
}

h2 {
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
    color: dark-grey;
    font-size: 24px;
}

a {
    color: blue;
    display: inline-block;
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.checkboxes {
    display: table;
    margin: 0 auto;
}
.checkboxgroup {
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
    color: dark-grey;
    line-height: 6px;
    font-size: 16px;
    word-spacing: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.checkboxgroup label {
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}

.buttons {
    top: 300px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn {
    width: 110px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 5px 10px 5px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#content {
	border: 1px solid black;
	background: url('../img/cream_dust.png') repeat 0 0;
	padding: 5px;
	margin: 0 auto;
	height: 450px;
	width: 800px;
	border-radius: 30px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#nextpage {
    position: absolute;
    top: 450px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#right {
    color: green;
}

#wrong {
    color: red;
}

#score {
    display: inline-block;
    position: absolute;
    top: 485px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#flag1 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 80px;
    left: 95px;
    background: url('../img/china.png');
    background-size: cover;
}

#flag2 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 80px;
    left: 300px;
    background: url('../img/finland.png');
    background-size: cover;
}

#flag3 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 80px;
    left: 505px;
    background: url('../img/japan.png');
    background-size: cover;
}

#flag4 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 205px;
    left: 95px;
    background: url('../img/norway.png');
    background-size: contain;
}

#flag5 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 205px;
    left: 300px;
    background: url('../img/poland.png');
    background-size: cover;
}

#flag6 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 205px;
    left: 505px;
    background: url('../img/south-korea.png') 6px;
    background-size: contain;
}

#flag7 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 330px;
    left: 95px;
    background: url('../img/sweden.png');
    background-size: cover;
}

#flag8 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 330px;
    left: 300px;
    background: url('../img/north-korea.png');
    background-size: cover;
}

#flag9 {
    height: 120px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    top: 330px;
    left: 505px;
    background: url('../img/denmark.png');
    background-size: contain;
}

#flagList1 {
    position: absolute;
    top: 450px;
    left: 95px;
}

#flagList2 {
    position: absolute;
    top: 470px;
    left: 95px;
}

#flagList3 {
    position: absolute;
    top: 490px;
    left: 95px;
}

#flagList4 {
    position: absolute;
    top: 450px;
    left: 300px;
}

#flagList5 {
    position: absolute;
    top: 470px;
    left: 300px;
}

#flagList6 {
    position: absolute;
    top: 490px;
    left: 300px;
}

#flagList7 {
    position: absolute;
    top: 450px;
    left: 505px;
}

#flagList8 {
    position: absolute;
    top: 470px;
    left: 505px;
}

#flagList9 {
    position: absolute;
    top: 490px;
    left: 505px;
}

body {
    background: url('../img/seamless_paper_texture.png') repeat 0 0;
}