h1 {
	text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
    color: dark-grey;
}

h3 {
    font-family: Helvetica;
    font-weight: lighter;
	color: dark-grey;
}

#content {
	border: 1px solid black;
	background: url('../img/cream_dust.png') repeat 0 0;
	padding: 2em;
	margin: 0 auto;
	height: 450px;
	width: 800px;
	border-radius: 30px;
}

body {
    background: url('../img/seamless_paper_texture.png') repeat 0 0;
}